@import "../../css/mixins.css";

.vizbuilder {
  @add-mixin font-xs;
  padding: 0 var(--gutter-md);
  height: auto;
  flex-wrap: wrap;

  & .virtlist-wrapper {
    & li {
      list-style: none;
    }
  }

  & .pt-overlay-content {
    transform: none !important;
  }

  & > * {
    padding-top: var(--gutter-md);
    padding-bottom: var(--gutter-md);
  }

  & .chart-wrapper {
    height: auto;
  }

  & .area-sidebar {
    margin-right: var(--gutter-lg);
    max-width: 100%;
  }
  & .area-middle {
    display: none;
  }
  & .area-chart {
    height: auto;
    display: block !important;
  }
  & .area-sidebar {
    & .sources p {
      @add-mixin font-xs;
      margin-top: 0;
      &:first-child {
        margin-top: 0.5rem;
      }
    }
    & .label {
      @add-mixin font-xs;
      margin-bottom: 5px;
    }
    & .select-target-wrapper, & .select-wrapper {
      border: 1px solid #bbb !important;
      width: 100%;
      & .select-option {
        padding: 4px 9px;
      }
    }
    & .select-option {
      @add-mixin font-xs;
    }
    & .dims {
      display: none !important;
      & .pt-tag {
        @add-mixin font-xxs;
        margin: 1px 2px 0 0;
        padding: 2px 4px 2px;
      }
    }
    & .select-measure {
      & .pt-popover-content {
        max-width: 269px;
        padding: 0;
        & .select-popover-content {
          min-width: 269px;
          & .deeplist-wrapper {
            margin-top: 0;
          }
          & .deeplist-header {
            & .deeplist-title {
              padding: 0;
              & .topic  {
                color: var(--black);
                @add-mixin font-xs;
                padding: 7px 7px 0;
                &:last-child {
                  padding-bottom: 7px;
                }
              }
              & .subtopic {
                padding: 0 7px 7px;
              }
            }
            & .pt-button {
              margin-right: 5px;
              &:before {
                @add-mixin font-xs;
                margin-right: 5px;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    & .select-label {
      display: inline-block;
      padding: 3px 5px 3px 8px;
      white-space: nowrap;
    }
    & .grouping-items, & .filter-items {
      & .pt-popover-content {
        max-width: 248px;
        padding: 0;
        & .select-popover-content {
          min-width: 248px;
        }
        & input {
          border-radius: 0;
        }
        & .padded {
          padding-left: 15px;
        }
      }
      & .grouping-item, & .filter-item {
        background-color: white;
        border: 1px solid #bbb;
        @add-mixin font-xs;
        padding: 10px;
        &.editing {
          & .grouping-members {
            & .select-member {
              background-color: transparent;
              border-radius: 0;
              margin: 0;
              padding: 0;
              width: 100%;
              & > span {
                width: 100%;
              }
              & .pt-tag-input {
                border: 0;
                border-radius: 0;
                & .pt-input-ghost {
                  @add-mixin font-xs;
                  margin-bottom: 3px;
                  padding: 0 8px;
                }
              }
            }
          }
        }
        &:not(.editing) {
          & .grouping-members {
            & > span {
              background-color: #eee;
              border-radius: 3px;
              display: inline-block;
              @add-mixin font-xs;
              font-weight: 800;
              margin: 5px 5px 0 0;
              padding: 2px 5px 3px;
            }
            & .select-member {
              background-color: transparent;
              border-radius: 0;
              margin: 0;
              padding: 0;
              width: 100%;
            }
          }
        }
        & .filter-name, & .filter-operator, & .filter-value {
          display: inline-block;
          @add-mixin font-xs;
          margin-right: 0;
          margin-bottom: 3px;
          text-transform: none;
        }
        & .filter-operator {
          text-transform: lowercase;
        }
        & .filter-value {
          background-color: #eee;
          border-radius: 3px;
          display: inline-block;
          @add-mixin font-xs;
          font-weight: 800;
          padding: 2px 5px 3px;
        }
        & .pt-numeric-input {
          & input, & .pt-button-group {
            border-radius: 0;
            height: 35px;
          }
          & .pt-button-group {
            height: 35px;
            & button {
              border-radius: 0;
              flex: 1;
            }
          }
        }
        & .actions {
          margin-top: 5px;
        }
      }
    }
    & .ranking {
      & ol {
        @add-mixin font-xs;
        line-height: 16px;
        margin-bottom: 20px;
        padding-left: 30px;
        width: 100%;
        & .ranking-item {
          padding: 2px 5px;
          & .item-value {
            font-weight: 500;
          }
        }
      }
    }
  }
  & .area-chart {
    & .wrapper {
      padding: 0;
      & .chart-card {
        min-width: 400px;
        &:only-child {
          height: calc(100vh - var(--nav-height) - var(--gutter-md) - var(--gutter-md));
        }
        & .wrapper {
          margin: 15px;
          & .viz > svg {
            overflow: visible;
          }
        }
      }
    }
  }
}
