@import './mixins';

/* -----------------------------------
buttons
----------------------------------- */
.pt-button.pt-minimal {
  background-color: var(--white);
  border: 1px solid var(--brand-light);
  color: var(--brand-dark);
  /* transitions */
  transition:
    background 0.1s ease-out,
    border 0.1s ease-out,
    color 0.1s ease-out;

  /* icon */
  &:before {
    color: currentColor;
  }

  &:hover, &:focus {
    background-color: var(--brand-dark);
    border-color: var(--brand-dark);
    color: var(--white);
  }
}

/* -----------------------------------
tabs
----------------------------------- */
.pt-tab {
  @add-mixin font-uppercase;
  @add-mixin font-xs;
  color: var(--light-1) !important;
  font-weight: 700;
  padding: 0.25em 0;
  cursor: default; /* buttons aren't links */

  /* interactions */
  &:hover, &:focus,
  &[aria-selected="true"] {
    color: var(--brand-light) !important;
  }
}

/* underline */
.pt-tab-indicator {
  background-color: var(--brand-dark) !important;
  height: 2px !important;
}

/* -----------------------------------
overlays/dialogs
----------------------------------- */
.pt-overlay-inline .pt-overlay-content,
.pt-overlay-scroll-container .pt-overlay-content {
  position: relative;
}

/* -----------------------------------
multiselect
----------------------------------- */
.pt-multi-select-popover {
  @mixin font-sm;
}

/* -----------------------------------
inline label groups
----------------------------------- */
.pt-label.pt-inline {
  display: flex;
  /* typography */
  @mixin font-sm;

  & * {
    font-size: inherit;

    /* this should always be the field */
    &:last-child {
      flex: 1 0 50%;
    }
  }
}
