@import './mixins';

/* -----------------------------------
general hacks
----------------------------------- */

/* replace default dark color returned by colorContrast.js */
.d3plus-textBox text[fill="#444444"] {
  fill: var(--black);
}

/* make room for the 1px axis bar */
.d3plus-Bar-group {
  transform: translateX(0.5px);
}

/* offset added stroke width */
.d3plus-Line-shape {
  transform: translate(1px, -1px) scale(0.995);
}

/* -----------------------------------
timeline enhancements
----------------------------------- */

/* style timeline */
.d3plus-viz-timeline {
  /* enhance active tick handle */
  & .handle {
    /* fudge handle into position */
    transform: translateX(-2px); /* offset width */
    /* theming */
    rx: 2px;
    ry: 2px;
    /* transitions */
    will-change: x;
    transition: x 0.333s ease-out;
  }
}

/* -----------------------------------
map color scale key
----------------------------------- */

/* TODO: replace in d3plus.js config */
.d3plus-ColorScale {
  & .d3plus-Line-shape,
  & .bar {
    display: none;
  }
  & .d3plus-ColorScale-Rect .d3plus-Rect {
    stroke: none;
    height: 16px;
  }
}

/* -----------------------------------
map zoom controls
----------------------------------- */

/* style map zoom controls */
.d3plus-zoom-control {
  right: 5px;
  left: auto !important;
	/* override default inline styles */
	& .zoom-control {
		/* theming */
		color: var(--brand-dark) !important;
		border: none !important;
		border-radius: 2px;
		background-color: var(--white) !important;
		opacity: 1 !important;
		box-shadow: 0 1px 0.5em color(var(--dark-2) a(0.5));
		/* sizing */
		width: 0.75rem !important;
		height: 0.75rem !important;
		font-size: 0.5rem !important;
		line-height: 0.75rem !important;
		/* positioning */
		display: inline-block !important;
		margin: 0.5em 0.5em 0 0 !important;
		/* it's a button, not a link */
		cursor: default !important;
		/* transitions */
		transition:
			background-color 0.2s,
			color 0.2s;

		/* tooltips */
		&.zoom-in:after 	 { content: 'Zoom in'; }
		&.zoom-out:after 	 { content: 'Zoom out'; }
		&.zoom-reset:after { content: 'Reset zoom'; }
		&.zoom-brush:after { content: 'Toggle zoom brush'; min-width: 11em; }
		&:after {
			/* sizing */
			display: block;
			padding: 0.5em 1em;
			width: auto;
			/* typography */
			font-size: 0.75em;
			/* positioning */
			@add-mixin absolute-horizontal-center;
			bottom: 1.25rem;
			/* theming */
			background-color: var(--dark-3);
			border-radius: 2px;
			box-shadow: 0 1px 1em color(var(--black) a(0.5));
			/* transitions */
			z-index: -1;
			opacity: 0;
			pointer-events: none;
		}

		/* interactions */
		&:hover,
		&:focus,
		&.active {
			background-color: var(--brand-dark) !important;
			color: var(--white) !important;

			&:after {
				opacity: 1;
				z-index: 1;
				/* transition in only */
				transition:
					background-color 0.1s,
					opacity 0.2s ease-out 0.2s;
			}
		}
		&:hover:after,
		&:focus:after {
			z-index: 2;
		}
		&.active:after {
			background-color: var(--brand-dark);
		}
	}
}
