@import './mixins';

/* -----------------------------------
scaling the document
----------------------------------- */

/* set font size on html element, then use REM units wherever possible */
html {
  font-size: 100%; /* 16px */
  @add-mixin min-sm { font-size: 112.5%; } /* 18px */
  @add-mixin min-md { font-size: 125%;   } /* 20px */
  @add-mixin min-lg { font-size: 137.5%; } /* 22px */
}


/* -----------------------------------
grid system by James Ferrell
----------------------------------- */

/* usage:
  <div className="g-container">
    <div classname="g-col g-4">spans 4 columns</div>
    <div classname="g-col g-8">spans 8 columns</div>
  </div>
*/

/* container required to make sure children are flexible */
.g-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* column base class */
  & .g-col {
    /* background-color: lightgray; */
    width: 100%;
    margin-bottom: var(--gutter-lg);
    padding: var(--gutter-sm);
    /* fallback */
    display: inline-block;
    vertical-align: top; /* reset default */

    /* column width modifier classes, applied on medium screens only */
    @add-mixin min-sm {
      /* loop through and create .g-col modifier classes .g-2 to .g-12 */
      /* NOTE: .g-12 is unnecessary because all elements with .g-col will be 100% width by default */
      @for $i from 1 to 11 {
        /* set width, accounting for gutter */
        &.g-$i {
          width: calc( (100% + var(--gutter-lg))/(12 / $i) - var(--gutter-lg) );
        }
      }
    }
  }
}

/* debugging */
/* NOTE: add .g-debug to any ancester */
.g-debug {
  /* container */
  & .g-container {
    outline: orange solid 2px;
    box-shadow: inset 0 0 0 var(--gutter-sm) color(orange a(0.1));
  }
  /* individual columns */
  & .g-col {
    outline: blue solid 2px;
    box-shadow: inset 0 0 0 var(--gutter-sm) color(blue a(0.1));
  }
}


/* -----------------------------------
layout
----------------------------------- */

/* prevent horizontal scrollbars */
/* .outer-container {
  overflow-x: hidden;
} */

/* sections */
.section-container {
  @add-mixin centered-container;
}

/* alernating bg color */
.section:nth-of-type(even):after {
  @add-mixin fullwidth-pseudo;
  background: var(--light-1);
}

/* canon overrides */
/* NOTE: specificity increase needed to overwrite :/ */
.profile {
  /* make topic headers prominent */
  & .topic-title {
    /* sizing */
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    /* theming */
    background-color: var(--brand-dark);

    /* typography */
    & .anchor {
      @add-mixin font-xxl;
      color: var(--white);
      top: -0.125em; /* fudge baseline alignment */
      margin-top: -5rem;
      padding-top: 5rem;
      display: block;
      z-index: 0;

      /* icons */
      & .pt-icon-standard {
        font-size: 0.75em;
        margin-right: 0.5em;
        opacity: 0.5;
        vertical-align: middle;

        @mixin min-xl {
          margin-left: -1.5em;
        }
      }
    }
  }

  & .section {
    padding: 0 0 2rem 0;
    page-break-inside: avoid;
    /* border: 1px solid blue; */

    /* offset .section-container padding */
    &:first-child { margin-top: -1.5rem; }
    &:last-child { margin-bottom: -1.5rem; }

    /* increase specificity, again :( */
    & .columns {

      /* reset article & viz margin */
      & > *,
      & article > .viz {
        margin: 0;
      }

      & .viz + .viz {
        margin-left: 2rem;
      }

      & article > .viz + .viz {
        margin-left: 0;
      }

      /* single column layout on smaller screens */
      @add-mixin max-md {
        display: block; /* stacked layout */

        /* reset width */
        & > * {
          width: 100%;
        }
        /* space out text & viz */
        & article + .viz {
          margin-top: 1rem;
        }
        /* space out adjacent visualizations */
        & .viz + .viz {
          margin-left: 2rem;
        }
      }

      /* adjusted 2 column layout on bigger screens */
      @add-mixin min-md {
        /* resize text */
        & article:not(:last-child) {
          width: 37%;
        }
        /* resize viz & space out from text */
        & article + .viz {
          margin-left: var(--gutter-xl);
          width: 62%;
        }
      }
    }

    /* reset section title margin */
    & .section-title {
      margin: 1em 0 1em 0;

      @add-mixin min-sm {
        margin-top: 2em;
      }

      & .anchor {
        @add-mixin font-xl;
        margin-top: -5rem;
        padding-top: 5rem;
        transition: color 0.2s ease-out;
        z-index: 0;

        &:hover, &:focus {
          color: var(--brand-dark);
        }
      }
    }

    /* override canon typography */
    & article {
      font-family: inherit;
      color: inherit;

      & .disclaimer {
        @add-mixin font-xs;
        @add-mixin font-uppercase;
        color: var(--majorelle-dark);
        font-weight: 700;
        margin-bottom: 10px;
      }

      & .pt-select {
        margin-bottom: 10px;
      }

      & p {
        @add-mixin font-sm;
        margin-bottom: 0.75em; /* override blueprint */

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  /* stats next to seciton title */
  & .section-title-stat-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & .section-title-inner {
      margin-right: 2rem;
    }

    /* center stats within leftover space */
    & .section-title-stat-inner {
      margin-left: auto;
      margin-right: auto;
      padding-top: 1rem;
    }

    /* side by side */
    & .stat {
      display: inline-block;
      text-align: center;

      /* theming */
      & .stat-label {
        color: var(--light-1);
      }

      & .stat-label-year {
        color: var(--light-1);
        opacity: 0.7;
      }

      /* bigger value */
      & .stat-value {
        @add-mixin font-xl;
        color: var(--white);
      }

      /* space out adjacent stats */
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }
}

/* form fields */
.field-container {

  /* position fields in front of following titles */
  & > * {
    z-index: 1;
  }

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  /* 100% width select */
  & select {
    display: block;
    width: 100%;
    margin-top: 0.25em;
  }

  /* multiselect wrapper */
  & .pt-popover-target {
    display: block;
  }
}

.align-stats {
  padding-top: 1.35rem;
}
