@import './mixins';

/* -----------------------------------
typography
----------------------------------- */

/* alignment */
.u-text-left {
  text-align: left;
}
.u-text-center {
  text-align: center;
}
.u-text-left-center {
  text-align: left;

  @add-mixin min-sm {
    text-align: center;
  }
}


/* -----------------------------------
accessibility
----------------------------------- */

/* screen reader text */
.u-visually-hidden {
  @add-mixin visually-hidden;
}


/* -----------------------------------
layout
----------------------------------- */

/* absolute expand */
.u-absolute-expand {
  @add-mixin absolute-expand;
}

/* vertical margin */
.u-margin-top-sm { margin-top: var(--gutter-sm) !important; }
.u-margin-top-md { margin-top: var(--gutter-md) !important; }
.u-margin-top-lg { margin-top: var(--gutter-lg) !important; }
.u-margin-top-off { margin-top: 0 !important; }
.u-margin-top-off-children * { margin-top: 0 !important; }

.u-margin-bottom-sm { margin-bottom: var(--gutter-sm) !important; }
.u-margin-bottom-md { margin-bottom: var(--gutter-md) !important; }
.u-margin-bottom-lg { margin-bottom: var(--gutter-lg) !important; }
.u-margin-bottom-off { margin-bottom: 0 !important; }
.u-margin-bottom-off-children * { margin-bottom: 0 !important; }

/* horizontal margin */
.u-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* padding */
.u-padding-top-off { padding-top: 0 !important; }
.u-padding-bottom-off { padding-bottom: 0 !important; }

/* show/hide content */
.u-hide-below-md {
  @add-mixin max-md {
    display: none !important;
  }
}
.u-hide-above-md {
  @add-mixin min-md {
    display: none !important;
  }
}


/* -----------------------------------
element resets
----------------------------------- */

/* make buttons not look like buttons */
.u-button-reset {
  border: 0;
  background: none;
}

/* make lists not look like lists */
.u-list-reset {
  @add-mixin list-reset;
}


/* -----------------------------------
button groups
----------------------------------- */

/* make children into a button group */
.u-button-group > * {
  @add-mixin button-groupify;
  width: auto;
}
