@import "../css/mixins.css";

.contact-tooltip {
  @mixin font-sm;
  width: 300px;
}

.contact-dialog {
  padding-bottom: 0;
  height: 90vh;
  overflow: hidden;
  max-width: 1100px;
  width: 95%;
  & .pt-dialog-header {
    background-color: var(--dark-3);
    & .pt-icon-large {
      color: var(--light-3);
    }
    & .pt-dialog-header-title {
      @mixin font-sm;
      color: var(--white);
    }
  }
  & .pt-dialog-body {
    background-color: var(--dark-3);
    margin: 0;
    max-height: none;
    overflow: hidden;
    padding: 0 10px 10px;
    & .tic-iframe {
      border: 0;
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }
}
