@import "../css/mixins.css";

.main-nav {
  /* positioning */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.main-nav-inner {
  @add-mixin centered-container;
  height: var(--home-nav-height);
  display: flex;
  align-items: center; /* vertically center */
  justify-content: space-between; /* envenly space children horizontally */
  /* allow elements to break on small screens */
  flex-wrap: wrap;
}

.main-nav-logo-link {
  right: calc(var(--gutter-xs) + 8px);
}

.main-nav-list {
  @add-mixin min-sm {
    left: var(--gutter-xs);
  }
}

.main-nav-logo-link {
  padding: var(--gutter-xs);
}

.main-nav-item {
  display: inline-block;
}

.main-nav-link {
  @add-mixin nav-link;
  padding: var(--gutter-xs);
}
