@import "../css/mixins.css";

/* stats lined up */
.stat {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }
}

/* little label */
.stat-label {
  line-height: 1.25;
  margin-bottom: 0.125rem;

  /* year */
  & .stat-label-year {
    @add-mixin font-smoothing;
    text-transform: none; /* not always a number */
    letter-spacing: normal;
    color: var(--dark-2);
  }
}

/* big number */
.stat-value {
  text-transform: none; /* not always a number */
  letter-spacing: 0.025em;
  line-height: 1.125;
  margin-bottom: 0.75rem;

  /* secondary value */
  & .stat-value-qualifier {
    @add-mixin font-smoothing;
    letter-spacing: normal;

    /* but, like, it's a really long one */
    &.font-xs {
      /* new line */
      display: inline-block;
      color: var(--dark-2);
      /* reset typography */
      font-weight: 400;
      -moz-osx-font-smoothing: auto;
      -webkit-font-smoothing: auto;
    }
  }
}

p:not(.disclaimer) ~ .stat, p:not(.disclaimer) ~ .stat-group {
  margin-top: 1.5em;
}
