@import "../css/mixins.css";

.subnav {
  background-color: var(--dark-3);
  position: sticky;
  top: 0;
  height: var(--nav-height);
  z-index: 2; /* in front of section titles */
}
.subnav-list,
.subnav-select-label {
  /* layout */
  @add-mixin centered-container;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1; /* allow bg to shuffle behind */
}
.subnav-item {
  flex: 1 0 10%;
  width: 10%;
  text-align: center;
}
.subnav-link {
  display: block;
  height: var(--nav-height);
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: var(--light-3);

  @mixin max-md {
    & .subnav-icon {
      line-height: var(--nav-height);
    }
  }

  & .subnav-text {
    @mixin font-xxs;
    min-width: 100%;
    margin-top: 0.5em;
  }

  /* interactions */
  &:hover {
    text-decoration: none;
    color: var(--brand-light);

    & .subnav-text {
      text-decoration: underline;
    }
  }
  &:active, &:focus {
    color: var(--white);

    & .subnav-text {
      text-decoration: none;
    }
  }

  & span {
    display: inline-block;
  }
}

/* select menu (small screens only) */
.subnav-select-label {
  line-height: 1.4rem;
  top: 0.7rem;
}

.subnav-select-text {
  flex: 1 0 auto;
  margin-right: 0.75em;
  top: 0.25em;
  color: var(--light-3);

  /* hide label on small screens */
  @mixin max-xxs {
    @mixin visually-hidden;
  }
}

.subnav-select {
  color: var(--white);
}
