@import "../../../css/mixins.css";

/* home header layout */
.home-header-inner {
  /* positioning */
  @add-mixin centered-container;
  /* sizing */
  padding-top: var(--home-nav-height);
  padding-bottom: var(--home-nav-height);
  min-height: 75vh;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; /* allow bg to shuffle behind */

  /* limit intro text width */
  & .home-header-intro {
    max-width: 28rem;
  }

  /* take up remaining space and center */
  & .home-header-map {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter-xl);

    & .home-header-wayne-map {
      border-radius: 50%;
      box-shadow: 0 0.04em 0.5em color(var(--black) a(0.5));
    }

    /* position michigan bg map */
    & .home-header-michigan-map {
      position: absolute;
      top: -3.5rem;
      left: -1.375rem;
      z-index: -1;
    }

    @add-mixin max-xs {
      display: none;
    }
  }
}


/* intro block typography */
.home-header-intro {
  text-shadow: 0 0.04em 0.5em color(var(--black) a(0.5));

  /* space out intro text */
  & .home-header-intro-text {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  /* horizontally space out link from paragraph text */
  & .home-header-intro-link {
    margin-left: 0.75em;
    white-space: nowrap;
  }
}


/* hero image */
.home-header-background {
  @add-mixin absolute-expand;
  z-index: 0;

  &:after {
    @add-mixin absolute-expand;
    content: '';
    display: block;
    background-image:
      linear-gradient(
        -180deg,
        color(var(--dark-3) a(0)) 50%,
        var(--dark-3) 100%),
      linear-gradient(
        -180deg,
        color(var(--black) a(0.5)) 0%,
        color(var(--black) a(0.25)) 93%,
        color(var(--black) a(0.5)) 100%);
  }

  /* cover-style background image */
  & .home-header-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/* search */
.home-search {
  max-width: 32rem; /* 640px */

  & .results {
    /* sizing */
    height: auto;
    min-height: 30vh;
    max-height: 20rem;
    overflow-y: scroll;
    /* positioning */
    position: absolute;
    top: 2rem; /* below input */
    /* default state */
    display: none;

    /* active state */
    &.active {
      display: block;
    }

    /* individual result item */
    & .result {
      display: block;

      /* interactions */
      &:hover, &:focus,
      &.highlighted {
      }
    }

    /* empty state */
    & .no-results {
    }
  }
}
