@import 'css/mixins'; /* Always Be Importing Mixins */

@import 'css/reset'; /* custom, light, and somewhat opinionated reset */
@import 'css/base'; /* typography & colors */
@import 'css/layout'; /* grid & macro layout */
@import 'css/utilities'; /* do one thing, and do it well */

/* -----------------------------------
button
----------------------------------- */

/* custom, non-blueprint button 💪🏼 */
.button {
  @add-mixin font-smoothing;
  /* sizing */
  display: inline-block;
  padding: 0.5em 1em;
  /* typography */
  font-weight: 700;
  /* theming */
  background-color: var(--brand-dark);
  color: var(--white);
  border: none;
  border-radius: 2em; /* fully rounded */
  /* transitions */
  will-change:
    background-color,
    box-shadow,
    color;
  transition:
    background-color 0.2s,
    box-shadow 0.2s,
    color 0.2s;

  /* space out icons and text */
  & > .pt-icon {
    margin-right: 0.5em;

    &.button-icon-right {
      margin-right: 0;
      margin-left: 0.5em;
    }
  }

  /* interactions */
  &:hover, &:focus {
    background-color: var(--brand);
    color: var(--white);
    box-shadow: 0 2px 1em rgba(35, 50, 51, 0.15);
    z-index: 1;
  }
}

/* inverted button */
/* NOTE: requires .button class as well */
.inverted-button {
  background-color: var(--white);
  color: var(--brand-dark);
  box-shadow: 0 2px 0.75em color(var(--black) a(0.33));

  /* interactions */
  &:hover, &:focus {
    background-color: var(--white);
    color: var(--brand);
    box-shadow: 0 2px 1em color(var(--black) a(0.5));
  }
}
