@import "../../../css/mixins.css";

/* TODO: refactor duplicated home page styles into generic header styles */

/* home header layout */
.profile-header-inner {
  /* positioning */
  @add-mixin centered-container;
  /* sizing */
  padding-top: var(--home-nav-height);
  padding-bottom: 0;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1; /* allow bg to shuffle behind */

  /* limit intro text width */
  & .profile-header-intro {
    max-width: 28rem;

    & .profile-header-headline {
      line-height: 1.125;
    }
  }

}


/* intro block typography */
.profile-header-intro {
  text-shadow: 0 0.04em 0.5em color(var(--black) a(0.5));

  /* splash stats */
  & .stat {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: -1rem; /* offset */

    /* scale up font sizes */
    & .stat-label {
      @add-mixin font-sm;
      color: var(--light-1);
    }
    & .stat-value {
      @add-mixin font-xl;
    }

    /* space out adjacent stats */
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}

/* section icon navigation */
.profile-header-sections {
  /* positioning */
  @add-mixin centered-container;
  /* sizing */
  padding-bottom: 4rem;
  padding-top: 2rem;
  /* layout */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1; /* allow bg to shuffle behind */

  & .section-header-anchor {
    color: white;
    font-size: 16px;
    opacity: 0.75;
    text-align: center;
    transition: opacity 0.2s;
    width: 100px;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    & .pt-icon-standard {
      display: block;
      font-size: 32px;
      margin-bottom: 10px;
    }
  }
}


/* hero image */
.profile-header-background {
  @add-mixin absolute-expand;
  z-index: 0;

  &:after {
    @add-mixin absolute-expand;
    content: '';
    display: block;
    background-image:
      linear-gradient(
        -180deg,
        color(var(--dark-3) a(0)) 50%,
        var(--dark-3) 100%),
      linear-gradient(
        -180deg,
        color(var(--black) a(0.5)) 0%,
        color(var(--black) a(0.25)) 93%,
        color(var(--black) a(0.5)) 100%);
  }

  /* cover-style background image */
  & .profile-header-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
